{{>layouts/header}}
<div class="chat"> <!--전체박스-->
    <div class="left-box pt-5"> <!--왼쪽박스-->
        <section class="sc" id="scroll-left">

        <!-- 채팅방 리스트 -->
            <div class="chat-list" id="chat-list">

                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Yataverse World</h5>
                            <img src="https://user-images.githubusercontent.com/88410343/146400831-a4fb86ec-8480-4aa7-b99a-4fb0871608ea.jpg">
                            <p class="card-text">Talk to everyone!</p>
                            <button type="button" class="btn btn-primary" onclick="worldChat();">Chat Now!</button>
                        </div>
                    </div>
                    <!-- 커스텀 채팅방 썸네일 나올 곳-->

            </div>
        </section>
        <div class="pb-2">
            <button type="button" class="btn btn-secondary btn-sm">
                <pre id="uidpre">Room Id : Not Entered</pre>
            </button>
        </div>
        <input class="form-control border no-shadow no-rounded" placeholder="Insert room id" id="inputid">
        <span class="input-group-btn">
            <button class="btn btn-success no-rounded" type="button" onclick="chatgo();">Go chat !</button>
        </span>
    </div>

    <!-- 오른쪽 박스 -->
    <div class="container bootstrap snippets bootdey pt-5">

        <!--=========================================================-->
        <!-- selected chat -->
        <section class="sc" id="scroll">
            <div class="row-chat" id="chat-message">
            <div class="col-md-8 bg-white ">

            <div class="chat-box bg-white">

            </div>

            </div>
            </div>
        </section>
    <!-- 입력창 -->
    <div class="input-group">

        <input type="hidden" id="roomid">
        <input type="hidden" id="uname" value="">
        <input class="form-control border no-shadow no-rounded" placeholder="Write a Message" id="message" onkeypress="if(event.keyCode==13){commandChk();}">
        <span class="input-group-btn">
            <button class="btn btn-success no-rounded" type="button" onclick="commandChk()">Send</button>
        </span>
    </div><!-- /input-group -->
    </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
    $.ajax({
        url : 'uname'
        , method : 'GET'
        , success : function(resp){
            let res = JSON.stringify(resp);
            $('#uname').val(res);
        }
    });
});


let webSocket = {
		init : function(param) {
			this._url = param.url;
			this._initSocket();
		},
		sendChat : function() {
			this._sendMessage($('#uname').val(), $('#roomid').val(),
					'CMD_MSG_SEND', $('#message').val());
			$('#message').val('');
		},
		sendEnter : function() {
			this._sendMessage($('#uname').val(), $('#roomid').val(), 'CMD_ENTER',
					$('#message').val());
			$('#message').val('');
		},
		receiveMessage : function(msgData) {
			// 정의된 CMD 코드에 따라서 분기 처리
			if (msgData.cmd == 'CMD_MSG_SEND') {
				let uname = $("#uname").val();

				if (msgData.uname == uname) {
					$('#chat-message').append(
							'<li style = "color: white;">'
									+ '<div class = "from-me">' + msgData.msg
									+ '</div>' + '</li>' + '<br>');
				} else {
					$('#chat-message').append(
							'<li style = "color: white;">'
									+ '<div class = "from-them">' + msgData.msg
									+ '</div>' + '</li>' + '<br>');
				}
				$("#scroll").scrollTop($("#scroll")[0].scrollHeight);

			}
			// 입장
			else if (msgData.cmd == 'CMD_ENTER') {
				$('#chat-message').append(
						'<div class = "from-infor">' + msgData.msg + '</div>'
								+ '<br>' + '<br>' + '<br>');
				$("#scroll").scrollTop($("#scroll")[0].scrollHeight);

			}
			// 퇴장
			else if (msgData.cmd == 'CMD_EXIT') {
				$('#chat-message').append(
						'<div class = "from-infor">' + msgData.msg + '</div>'
								+ '<br>' + '<br>' + '<br>');
				$("#scroll").scrollTop($("#scroll")[0].scrollHeight);

			}
		},
		closeMessage : function(str) {
			$('#divChatData').append('<div>' + '연결 끊김 : ' + str + '</div>');
		},
		disconnect : function() {
			this._socket.close();
		},
		_initSocket : function() {
			this._socket = new SockJS(this._url);

			this._socket.onopen = function(evt) {
				webSocket.sendEnter();
			};
			this._socket.onmessage = function(evt) {
				webSocket.receiveMessage(JSON.parse(evt.data));
			};
			this._socket.onclose = function(evt) {
				webSocket.closeMessage(JSON.parse(evt.data));
			}
		},
		_sendMessage : function(uname, bang_id, cmd, msg) {
			var msgData = {
				uname : uname,
				bang_id : bang_id,
				cmd : cmd,
				msg : msg
			};
			var jsonData = JSON.stringify(msgData);
			this._socket.send(jsonData);
		}
	};

function worldChat(){
    let worldUrl = 'YataverseWorldChatTest';
    $('#inputid').val(worldUrl);
    recentChk = 1;
    chatgo();
}

let recentChk = 0;

function recentgo(roomid){
    let recentUrl = roomid;
    $('#inputid').val(recentUrl);
    recentChk = 1;
    chatgo();
}
function chatDel(roomid){
    let delDiv = $('#roomcard'+roomid);
    delDiv.remove();
    worldChat();
}

function chatgo() {
		let roomid = $('#inputid').val();
		if(roomid == ''){
		    roomid = 'YataverseWorldChatTest';
		}

		let uname = $('#uname').val();
		let chatUrl = 'chat?roomid=' + roomid;
		let myData = {
			"roomid" : roomid
		};
		$.ajax({
			url : chatUrl,
			method : 'POST',
			data : myData,
			success : function(resp) {
				if ($('#roomid').val() != '') {

					webSocket.disconnect();
				}

				$('#roomid').val(roomid);
				$('#uname').val(uname);
				$('#uidpre').html("Room Id : " + roomid);
                $('#inputid').val("");

				webSocket.init({
					url : '/chat'
				});
                if(roomid == 'YataverseWorldChatTest'){
                    recentChk = 1;
                }
                if(recentChk != 1){
                    $('#chat-list').append(
                        '<div class="card" style="width: 18rem;" id="roomcard'+roomid+'">'+
                            '<div class="card-body">'+
                                '<h5 class="card-title">Chat Room : '+roomid+'</h5>'+
                                '<img src="https://user-images.githubusercontent.com/88410343/146410698-038074fd-0fbc-4462-b8d0-9e4ef4ab22c6.jpg">'+
                                '<p class="card-text">Recently Chat Room</p>'+
                                '<button type="button" class="btn btn-primary" onclick="recentgo('+roomid+');">Chat Now!</button>'+
                                '<button style="float:right; background-color:red; border-color:red;" type="button" class="btn-del btn-primary" onclick="chatDel('+roomid+');">Delete this Room</button>'+
                            '</div>'+
                        '</div>'

                    );
                    $("#scroll-left").scrollTop($("#scroll-left")[0].scrollHeight);
                }

                recentChk = 0;
			}
		});
	}
	function commandChk() {
		let msgchk = $('#message').val()
		if (msgchk.indexOf('/', 0) == 0) {
			alert("명령어임");
		} else {
			webSocket.sendChat();
		}
	}

</script>
{{>layouts/footer}}