{{>layouts/header}}

<div class="accordion pt-5" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                How to Use / Yataverse Trade!
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <img src="https://user-images.githubusercontent.com/88410343/146575917-4c518b69-da4f-41ed-8aa6-395a27419a2b.png">
            <div class="accordion-body">
                <h3>▶ 販売掲示物登録</h3><br>
                <strong>地図の上にマークアップ</strong> して取引場所を決めてください。<br>
                商品の名前と説明、取引方法について作成して<code>登録！</code>
            </div>
        </div>
    </div>
</div>



{{>layouts/footer}}