{{>layouts/header}}
<section id="msgScroll">
{{#msgList}}
    <div class="msgWrapper pt-5" id="msg{{id}}">
        <button type="button" class="btn btn-success no-rounded" onclick="delMsg({{id}});">Delete</button>
        <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Message" data-bs-content="{{descMsg}}">
            ▶{{fromEmail}}'s Message</button>
    </div>
{{/msgList}}
{{^msgList}}
    <div class="pt-5" style="text-align:center">
        <img src="https://user-images.githubusercontent.com/88410343/146627644-fbbafe3f-8799-43af-a33e-e245814a02b8.jpeg">
        <h5>No Message!</h5>
    </div>

{{/msgList}}

</section>
{{>layouts/footer}}
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })

    function delMsg(id){
        const div = $('#msg'+id);

        let myData = {"id" : id}

        $.ajax({
            url : 'delMsg'
            , method : 'GET'
            , data : myData
            , success : function(){
                div.remove();
                location.reload();
            }
        });
    }
</script>