{{>layouts/header}}
<div class="pt-5">
    <div class="d-grid gap-2 col-6 mx-auto pb-5">
        <button class="btn btn-primary" type="button" onclick="location.href='/quest'">Question</button>
    </div>

    <div class="card mb-3" >
        <div class="col-md-4">
            <img src="https://user-images.githubusercontent.com/88410343/146377192-6643b17f-33d6-4eef-b71f-ba151cbd6565.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="row g-0">
{{#questList}}
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{questName}}</h5>
                    <p class="card-text">{{questDesc}}</p>
                    <div class="apAnswer">

                    </div>
                    <div class="mb-3">
                        <form id="ansFrm{{id}}" action="/ansGo" method="post">
                        <input type="hidden" name="refId" value="{{id}}">
                        <input type="text" class="form-control" name="answerDesc">
                        </form>
                    </div>
                    <ul>
                    {{#ansList}}
                            ↳ 【 {{email}} 】 : {{questDesc}}   <button type="button" class="btn btn-success no-rounded" style="height:40px; margin:right;" onclick="location.href='/delReply?id={{id}}'">Delete</button>
                                <hr class="dropdown-divider">
                    {{/ansList}}
                    </ul>
                    <button class="btn btn-primary" type="button" onclick="answer({{id}});">Answer!</button>
                </div>
            </div>
    <!-- page -->
            <ul>
                <li>
                    <hr class="dropdown-divider">
                </li>
            </ul>
{{/questList}}

        </div>
    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
{{>layouts/footer}}

<script>
    function answer(id){
        let frm = $('#ansFrm'+id);
        frm.submit();
    }


</script>