<div class="card-group">
    <div class="card">
        <a href="/chat">
            <img src="https://user-images.githubusercontent.com/88410343/146374524-a3c423cd-e752-4149-bcc4-1e4b84ab7fbc.jpg" class="card-img-top" alt="chat">
        </a>
        <div class="card-body">
            <h5 class="card-title">Yataverse Chat!</h5>
            <p class="card-text">Enjoy chatting with people all over the world!</p>
        </div>
    </div>
    <div class="card">
        <a href="/trade">
            <img src="https://user-images.githubusercontent.com/88410343/146376002-be208031-9053-4c50-b4d5-561388817ac4.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Yataverse Trade!</h5>
            <p class="card-text">Try to trade things with the people in the neighborhood!</p>
        </div>
    </div>
    <div class="card">
        <a href="/qna?idx=1">
            <img src="https://user-images.githubusercontent.com/88410343/146377192-6643b17f-33d6-4eef-b71f-ba151cbd6565.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Yasukete!</h5>
            <p class="card-text">Share your knowledge through questions and answers!</p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Title4</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>