.carousel img {
  overflow: hidden;
  width: 70%;
  height: 400px;
  display: block;
  margin: 0 auto;
}

.navbar-brand img{
            overflow: hidden;
            height:50px;
            width:200px;
        }